<h1>Editing Book</h1>
<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
<div class="field">
  <label for="book-title">Title</label>
  <li class="book-title">
    <%= f.text_field :title %>
  </li>
</div>
<div class="field">
  <label for="book-body">Body</label>
  <li class="body">
    <%= f.text_area :body %>
  </li>
</div>
<div class="actions">
  <%= f.submit 'Update Book' %>
</div>
<% end %>
<%= link_to 'show', book_path(@book.id) %>
 | 
